label{
    color:white;
}
input[type=text]{
    color:white;
}
input[type=password]{
    color:white;
}
span{
    color:white;
}
input[type=radio]{
    color:white;
}
input[type=email]{
    color:white;
}
.click{
    color:white;
    font-weight: bold;
    text-decoration: none;
}
.click:hover{
    color:#81d4fa;
    font-weight: bold;
    font-size: 20px;
}
.margin{
    margin-top: 40px;
    margin-right:240px;
}
@media only screen and (max-width: 800px){
    .margin{
        margin-top: 40px;
        margin-right:150px;
    }
}
@media only screen and (max-width: 2000px){
    .formulario{
        width: 100%;
    }
}
