*{
    margin: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#f6f7f9;
}
/*inicio*/
.paddinglogin{
    padding-right: 10px;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius:70px; 
    margin-top: 15px;
    margin-left: 5px;

}
nav a{
    color:black;
}

.menuli{
    color:black;
    font-weight: bold;
}
li .menuli:hover{
    background-color:gainsboro;
    color:#04BBBF;
}

/*inicio*/
.florence{
    text-align: center;
    color:white;
    letter-spacing: 5px;
    animation-duration: 5s;
}
.colorText{
    color:#c8e6c9;
    font-size: 18px;
}
.colorh6{
    color:white;
    font-size:20px;
}
.botoninicio1{
    margin-right: 10px;
    border: 3px solid #e91e63;
    background-color: white;
    color:black;
    border-radius: 20px;
    margin-bottom:10px;
    text-align: center;
    letter-spacing: 3px;
}
.botoninicio2{
    margin-right: 10px;
    border: 3px solid #4caf50;
    background-color: white;
    color:black;    
    border-radius: 20px;
    margin-bottom:10px;
    text-align: center;
    letter-spacing: 3px;
    
}
.botoninicio1:hover{
    background-color: #e91e63;
}
.botoninicio2:hover{
    background-color:  #4caf50;
}
.ColorFondoFloren{
    background-color: #353b4b;
}

.alturaimg{
    width: 100%;
    height: 400px;
}

/*servicios*/
.servicios{
    color:black;
    text-align: center;
    letter-spacing: 5px;
    animation-duration: 5s;
}
.ColorFondoServ{
    background-color:white;
}
.sizeschool{
    font-size: 70px;
   color: white;
}

.sizeassignment{
    font-size: 70px;
    color: white;
}
.sizechat{
    font-size: 70px;
    color: white;
}

.colorbackespecialista{
    background-color: #04BBBF;
    height:200px;
}
.textoexpecialista{
    padding: 2em;
}
.colorbackchat{
    background-color: #03558A;
    height:200px;
}
.textochat{
    padding: 2em;
}
.colorbackassig{
    background-color: #04BBBF;
    height: 200px;
}
.textoassing{
    padding: 2em;
}
.colorbackcheck{
    background-color: #03558A;
    height: 200px;
}
.textocheck{
    padding: 2em;
}
.colorbacklocat{
    background-color: #04BBBF;
    height: 200px;
}
.textolocat{
    padding: 2em;
}
.colorbackdeter{
    background-color:#03558A;
    height: 200px;
}
.textodeter{
    padding: 2em;
}
.descriptionServ{
    text-align: center;
    color: white;
    font-size: 18px;

}

 /*testimonios*/

.ColorFondoDoct{
    background-color: #04BBBF;
}
.colorbacktest1{
    background-color: white;
    height: 500px;
}
.textotest1{
    padding:2em;
    font-size: 18px;
    text-align: center;
    color:black;
}
.iconcomment{
    margin-bottom: 30px;
}
.comment{
    font-size:15px;
}
.doctorimg{
    border-radius: 100px;
    height: 160px;
    width: 70%;
    margin: 0 auto;
}
.divimgtest{
    /* margin-top: 50px; */
    margin:30px 0px 12px;
}
.testimonios{
    color:white;
    text-align: center;
    letter-spacing: 5px;
    animation-duration: 5s;
}



/*contacto*/
.contactoh2{
    text-align: center;
    color:white;
}
/* .contenedorCon1{
    background-color: #4caf50;
} */
.contenedorCon1Tex{
    padding: 2em;
}
.ColorFondoCont{
    background-color:#03558A;
}


h5{
    color:#0e9c9d;
    text-align: center;
}
.copyright{
    color:#0e9c9d;
}
.page-footer{
    background-color:#263238;
}

textarea{
    color:#0e9c9d;
}
.prefix{
    color: white;
}
.redes:hover{
    opacity: 0.4;
}
.border-top{
    border-top: 2px solid white;
}
.delay{
    animation-duration: 3s;
}
#mapa{
    width: 75%;
    height: 400px;
}
.whiteIconDirection{
    color: white;
}
