*{
    margin: 0;
}
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.paddinglogin{
    padding-right: 10px;
}
.logo{
    width: 100px;
    height: 70px;
    border-radius:60px; 
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}
nav a{
    color:black;
}
nav a:hover{
    background-color: #bdbdbd;
    color:white;
    opacity: 0.4;
}
.menuli{
    color:black;
    font-weight: bold;
}
.florence{
    text-align: center;
    color:white;
    animation-duration: 5s;
}
.colorText{
    color:#c8e6c9;
    font-size: 18px;
}
.colorh6{
    color:white;
    font-size:20px;

}
.botonseparado{
    margin-right: 10px;
}
.ColorFondoFloren{
    background-color: #353b4b;
}
.ColorFondoServ{
    background-color:#0e9c9d;
}
.ColorFondoCont{
    background-color:#000000;
}
.alturaimg{
    width: 100%;
    height: 400px;
}
.descriptionServ{
    text-align: center;
    color: white;
    font-size: 18px;

}
.sizeschool{
    font-size: 70px;
   color: black
}

.sizeassignment{
    font-size: 70px;
    color: black;
}
.sizechat{
    font-size: 70px;
    color: black;
}

.contactoh2{
    text-align: center;
    color:white;
}
h3{
    color:#0e9c9d;
    text-align: center;
}
h5{
    color:#0e9c9d;
    text-align: center;
}
.copyright{
    color:#0e9c9d;
}
.page-footer{
    background-color:#263238;
}
li a:hover{
    opacity: 0.4;
    color:#0e9c9d;
}
textarea{
    color:#0e9c9d;
}
.prefix{
    color: white;
}
.redes:hover{
    opacity: 0.4;
}
.border-top{
    border-top: 2px solid white;
}
.delay{
    animation-duration: 3s;
}
#mapa{
    width: 100%;
    height: 500px;
}